{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% block title %}Única | Balón Capitalino{% endblock %}
{% block content %}
    <div id="bannerUnica" class="carousel slide mb-4 banner-sombra" data-bs-ride="carousel" style="width:100vw; max-height:300px; overflow:hidden;">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="banner-img-wrapper">
            <img src="{% static 'main/imagenes/torneo3.jpeg' %}" class="d-block w-100 banner-img" alt="Banner Única 1">
          </div>
        </div>
      </div>
    </div>
    <h1 class="titulo-torneos">Única</h1>
    <div class="container">
      <div class="row">
        {% for equipo in equipos %}
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <img src="{{ equipo.imagen.url }}" class="card-img-top" alt="{{ equipo.nombre }}">
              <div class="card-body">
                <h5 class="card-title">{{ equipo.titulo }}</h5>
                <p class="card-text">{{ equipo.descripcion }}</p>
                <a href="#" class="btn btn-ver-mas">Ver más</a>
              </div>
            </div>
          </div>
        {% empty %}
          <p class="text-center">No hay equipos registrados.</p>
        {% endfor %}
      </div>
    </div>
{% endblock %}